---
const { data } = Astro.props;

const eksamen1 = data[0];
const eksamen2 = data[1];
---

<section class="kurv-items">
  <h1>Kurv</h1>

  <p class="gratis-gave">Du er 365,10 kr fra en gratis gave</p>

  <div class="kurv-vare">
    <button class="fjern-vare">×</button>

<img src={`/img/${eksamen1.billede1}`} alt={eksamen1.produktnavn}>

    <div class="vare-info">
      <h2>{eksamen1.produktnavn}</h2>

      <p>{eksamen1.pris}</p>

      <p>{eksamen1.farve}</p>

      <p>Størrelse: One size</p>

      <div class="antal">
        <button>-</button>
        <span>1</span>
        <button>+</button>
      </div>
    </div>
  </div>

  <div class="kurv-vare">
    <button class="fjern-vare">×</button>


<img src={`/img/${eksamen2.billede1}`} alt={eksamen2.produktnavn}>

    <div class="vare-info">
      <h2>{eksamen2.produktnavn}</h2>

      <p>{eksamen2.pris}</p>

      <p>{eksamen2.farve}</p>

      <p>Størrelse: One size</p>

      <div class="antal">
        <button>-</button>
        <span>1</span>
        <button>+</button>
      </div>
    </div>
  </div>
</section>

<style>
.kurv-items {
  width: 100%;
}

.kurv-items h1 {
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.gratis-gave {
  font-size: 1rem;
  margin-bottom: 3rem;
}

.kurv-vare {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 3rem 0;
  border-top: 1px solid #8b5e5e;
  position: relative;
}

.kurv-vare:last-child {
  border-bottom: 1px solid #8b5e5e;
}

.fjern-vare {
  position: absolute;
  top: 1rem;
  right: 0;

  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: transparent;
  color: #7b3f3f;

  font-size: 1.8rem;
  font-weight: 100;

  padding: 0;
  line-height: 1;
}

.kurv-vare img {
  width: 100%;
  max-width: 260px;
  height: auto;
  object-fit: contain;
  background: #fff;
}

.vare-info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
}

.vare-info h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.vare-info p {
  font-size: 1rem;
}

.antal {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  margin-top: 1rem;
}

.antal button,
.antal span {
  width: 48px;
  height: 48px;
  border: 1px solid #8b5e5e;
  background: transparent;
  border-radius: 8px;
  font-size: 1.1rem;
  display: grid;
  place-items: center;
}

@media (min-width: 768px) {
  .kurv-items h1 {
    font-size: 4rem;
  }

  .gratis-gave {
    margin-bottom: 5rem;
  }

  .kurv-vare {
    grid-template-columns: 260px 1fr;
    gap: 3rem;
  }

  .kurv-vare img {
    width: 260px;
    height: 260px;
  }

  .vare-info {
    gap: 1.4rem;
  }

  .vare-info h2 {
    font-size: 1.8rem;
  }

  .antal button,
  .antal span {
    width: 58px;
    height: 58px;
    font-size: 1.2rem;
  }
}
</style>